@model List<Game>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Virtual Game Store</h1>
    <p>Enrico was here! John was also here!! And also John too! And Nikita was here!</p>
</div>
