@model List<Game>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Virtual Game Store</h1>
    <p>Enrico was here! John was also here!! And also John too! And Nikita was here!</p>
</div>

@* Form to test/demo email service *@
<div class="row justify-content-center">
    <h1 class="text-center display-4">Email Test:</h1>
    <form method="post" asp-controller="Account" asp-action="TestEmail" class="col-6">
        <div class="form-floating mb-3">
            <input type="text" name="email" class="form-control" id="email" placeholder="Email" />
            <label for="email">Email</label>
        </div>
        <div class="form-input mb-3">
            <button type="submit" class="btn btn-primary col-12 p-3 text-uppercase">
                Send Email
            </button>
        </div>
    </form>
</div>
