@model List<Game>
@{
    ViewData["Title"] = "Sales Report";
}
@section scripts {
    <script src="~/js/report.js"></script>
}
<div class="row justify-content-start text-snow-bright">
    <div class="col-12 py-3">
        <div class="row justify-content-start">
            <div class="col-12">
                <div class="card shadow bg-night text-snow-bright mb-4">
                    <div class="card-header bg-shade border-bottom-0">
                        <div class="row justify-content-between align-items-center m-0 py-2">
                            <h5 class="card-title text-uppercase col-auto fw-bold mb-0">Sales Report</h5>
                            <button class="btn btn-frost-primary col-md-3 col-6" onclick="printDiv()">Print</button>
                        </div>
                    </div>
                    <div class="card-body bg-night row m-0">
                        <div id="printableTable">
                            <table class="table text-snow">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Developer</th>
                                        <th scope="col">Copies Sold</th>
                                        <th scope="col">Gross Earnings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Game game in Model)
                                    {
                                        <tr>
                                            <td>@game.GameId</td>
                                            <td scope="col">@game.Name</td>
                                            <td>@game.Developer</td>
                                            <td>@game.OrderItems.Count()</td>
                                            <td>$@(game.OrderItems.Count() * game.RetailPrice) CAD</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>