@model List<OrderItem>

@{
    ViewData["Title"] = "Downloads";
}
@section scripts {
    <script src="~/js/download.js"></script>
}
@foreach (OrderItem orderItem in Model)
{
    <div class="row mb-3">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <h6 class="mb-0 col text-uppercase text-snow-bright">@orderItem.Game.Name</h6>
                    </div>
                    <div class="row">
                        <p class="small mb-0 col text-uppercase text-snow-deep">@orderItem.Game.Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xl-4">
            <div class="row">
                <a role="button" href="" class="btn btn-frost p-2 mx-1 text-uppercase col download-btn" download="@(orderItem.Game.Name).txt" description="@orderItem.Game.Description">Download</a>
            </div>
        </div>
    </div>
    
}