@model ForgotViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="row justify-content-center" style="margin-top: 10%;">
    <div class="col-md-6">
        <div class="card shadow bg-night text-snow-bright m-2">
            <div class="card-header bg-shade text-uppercase fw-bold text-center">Forgot Password</div>
            <div class="card-body">

                <form asp-action="SendForgotLink" asp-controller="Account" method="post">
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input asp-for="Email" type="text" class="form-control" id="email" />
                        <div class="row">
                            <span asp-validation-for="Email" class="text-aurora-red"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-frost-primary col-12 p-2 text-uppercase">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>