@{
    ViewData["Title"] = "Forgot Password";
}
<div class="row justify-content-center" style="margin-top: 10%;">
    <div class="col-md-6">
        <div class="card shadow bg-night text-snow-bright m-2">
            <div class="card-header bg-shade text-uppercase fw-bold text-center">Forgot Password</div>
            <div class="card-body">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info">
                        @ViewBag.Message
                    </div>
                }

                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <input type="email" class="form-control" id="Email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-dark mt-3">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>