@{
    ViewData["Title"] = "Log In";
}

<div class="row justify-content-center" style="margin-top: 10%;">
    <div class="col-md-6">
        <div class="card shadow bg-night text-snow-bright m-2">
            <div class="card-header bg-shade text-uppercase fw-bold text-center">Login</div>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }

                <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label for="UserName">Username</label>
                        <input type="text" class="form-control" id="UserName" name="userName" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="password" required>
                    </div>
                    <div class="mt-2">
                        <a asp-action="ForgotPassword" asp-controller="Account" class="text-frost-primary fw-bold text-decoration-none">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn text-uppercase fw-bold btn-frost-accent mt-3">Login</button>
                    <div class="mt-2">
                        Not registered? <a asp-action="Register" asp-controller="Account" class="text-frost-primary fw-bold text-decoration-none">Sign up now</a>.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>