@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">Login</div>
                        <div class="card-body">
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Error
                                </div>
                            }

                            <form asp-action="Login" asp-controller="Account" method="post">
                                <div class="form-group">
                                    <label for="UserName">Username</label>
                                    <input type="text" class="form-control" id="UserName" name="userName" required>
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="Password" name="password" required>
                                </div>
                                <div class="mt-2">
                                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
                                </div>
                                <button type="submit" class="btn btn-dark mt-3">Login</button>
                                <div class="mt-2">
                                    Not registered? <a asp-action="Register" asp-controller="Account">Sign up now</a>.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>