@model PasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row justify-content-center" style="margin-top: 10%;">
    <div class="col-md-6">
        <div class="card shadow bg-night text-snow-bright m-2">
            <div class="card-header bg-shade text-uppercase fw-bold text-center">Change Your Password</div>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-aurora-red"></div>

                <form asp-action="ChangePassword" asp-controller="Account" method="post">

                    <div class="form-group mb-3">
                        <label for="password">New Password</label>
                        <input type="password" asp-for="Password" class="form-control" id="password" />
                        <div class="row">
                            <span asp-validation-for="Password" class="text-aurora-red"></span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmPassword">Confrim Password</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword" />
                        <div class="row">
                            <span asp-validation-for="ConfirmPassword" class="text-aurora-red"></span>
                        </div>
                    </div>
                    <div class="form-input my-4">
                        <button type="submit" class="btn btn-frost-primary col-12 p-2 text-uppercase">
                            Change Password
                        </button>
                    </div>
                    <input asp-for="Email" type="hidden" id="email" />
                </form>
            </div>
        </div>
    </div>
</div>