
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">Sign Up</div>
                        <div class="card-body">
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Error
                                </div>
                            }

                            <form asp-action="Register" asp-controller="Account" method="post">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="FirstName">First Name</label>
                                    <input type="text" class="form-control" id="FirstName" name="firstName" required>
                                </div>
                                <div class="form-group">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" class="form-control" id="LastName" name="lastName" required>
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="Password" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="ConfirmPassword" name="confirmPassword" required>
                                </div>
                                <button type="submit" class="btn btn-dark mt-3">Sign Up</button>
                                <div class="mt-2">
                                    Already registered? <a asp-action="Login" asp-controller="Account">Log in now</a>.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>